@import "tailwindcss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@theme {
  --color-foreground: #3E4D32;
  --text-big: 48px;
  --text-standard: 36px;
  --animate-fade-in: fade-in 2s ease-out forwards;
}

body {
  @apply bg-cover;
  @apply font-extrabold;
  background-image: url('@/public/background.png');
  color: var(--color-foreground);
  font-family: var(--font-custom), Arial, Helvetica, sans-serif;
  font-size: var(--text-standard);
}