@import "tailwindcss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@theme {
  --breakpoint-sm: 321px;
  --color-foreground: #3E4D32;
  --text-lg: 60px;
  --text-big: 48px;
  --text-standard: 36px;
  --text-sm: 34px;
  --text-xs: 32px;
  --text-button: 24px;
  --animate-fade-in: fade-in 4s ease-out forwards;
}

body {
  @apply bg-cover;
  @apply font-extrabold;
  background-image: url('/background.webp');
  color: var(--color-foreground);
  font-family: var(--font-custom), Arial, Helvetica, sans-serif;
  font-size: var(--text-standard);
}